## Created by Andrey Markelov 19-11-2012.
## Copyright Mail.Ru Group 2012. All rights reserved.
#if($canView)
#customControlHeader ($action $customField.id $customField.name $fieldLayoutItem.required $displayParameters $auiparams)
#if($canEdit)
<select class="select" name="$customField.id" id="$customField.id">
    #if (!$fieldLayoutItem || $fieldLayoutItem.required == false)
        <option value="-1">$i18n.getText("common.words.none")</option>
    #else
        <option value="">$i18n.getText("common.words.none")</option>
    #end
    #foreach ($option in $configs.options)
        <option#if ($value && $value == $option.value) selected="selected"#end value="$textutils.htmlEncode($option.value)">$option.value</option>
    #end
</select>
#else
    #if($value)
        <span title="This value cannot be edited">$value</span>
        <input id="$customField.id" name="$customField.id" type="hidden" value="$value"/>
    #else
        <span title="This value cannot be edited">N/A</span>
    #end
#end
#customControlFooter ($action $customField.id $fieldLayoutItem.fieldDescription $displayParameters $auiparams)
#else
#if($value)<input id="$customField.id" name="$customField.id" type="hidden" value="$value"/>#end
#end