## Created by Andrey Markelov 19-11-2012.
## Copyright Mail.Ru Group 2012. All rights reserved.
#if($canView)
#if ($value)
    #if ($displayParameters && $displayParameters.nolink)
        $textutils.htmlEncode($value.fullName)
    #else
        <span class="tinylink">$userformat.formatUser($value.name, 'profileLink', "user_cf")</span>
    #end
#end
#end