## Created by Andrey Markelov 19-11-2012.
## Copyright Mail.Ru Group 2012. All rights reserved.
#if($canView)
#if ($value)
    #if ($customField.customFieldType.isUseNow($value))
      Current date will be used
    #else
        $outlookdate.formatDMYHMS($value)
    #end
#end
#end